#SearchField{
    box-sizing: border-box;
    padding: 2%;
    width: 100%;
    font-size: 2rem;   
}

.Card{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 5px 10px 8px #888888;
    margin-bottom: 1%;
    padding: 1%;
    line-height: 1.4rem;
}

.Highlight{
    color: red;
    font-weight: bold;
    text-transform: capitalize;
    font-style: italic;
}